/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2015, 10:40:43 PM
    Author     : melissagracetallant
*/

body {
    background-image: url("linedpaper.png");
    background-repeat: repeat;
    
//    font-family: headingFont;
//    font-size: 1em;
}
/*.body-cr {
    background: #ffef99;
    padding: 2em;
}*/

@font-face {
    font-family: headingFont;
    src: url(Matchbook.otf);
}

@font-face {
    font-family: bodyFont;
    src: url(Vera.ttf);
    font-size: 32px;
}


h2 {
    color: black;
//    font-family: headingFont;
    font-size: 96px;
}

h3 {
//    font-family: bodyFont;
    color: black;
    font-size: 24px;
    padding: 0em;
}

.loginBox {
    background-color: lightskyblue;
    display: inline-block;
    color: black;
    padding: 20px;
    font-family: bodyFont;
    font-size: 16px;
}

p {
 //   font-family: bodyFont;
    color: black;
    font-size: 16px;
    padding: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
li {
//    font-family: bodyFont;
    color: black;
    font-size: 16px;
}

.col-sm-4 {
   
}