/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2015, 10:40:43 PM
    Author     : melissagracetallant
*/

body {
    background-image: url("linedpaper.png");
    background-repeat: repeat;
    
//    font-family: headingFont;
//    font-size: 1em;
}
.body-cr {
    background: #ffef99;
    padding: 2em;
}
h1 {
    color: black;
    margin-left: 0;
    font-family: headingFont;
    font-size: 96px;
    padding: 0em;
    
}
h2 {
    color: black;
    margin-left: 200px;
    font-family: headingFont;
    font-size: 96px;
}

@font-face {
    font-family: headingFont;
    src: url(Matchbook.otf);
}

@font-face {
    font-family: bodyFont;
    src: url(Vera.ttf);
    font-size: 32px;
}

.loginBox {
    background-color: skyblue;
//    border-style: groove;
//    border-color: white;
//    border-width: 5px;
    display: inline-block;
    color: darkblue;
    padding: 20px;
    font-family: bodyFont;
    font-size: 16px;
}

.menuItem {
    background-color: darkblue;
    font-family: headingFont;
    color: #ffef99;
    font-size: 2em;
    width: 170px;
    padding: 5px;
}

.menuItem:hover {
    color: darkblue;
    background-color: gold;
}

.menu {
    float: left;
}

.body {
    position: absolute;
    border-style: groove;
    border-color: #FFD700;
    border-width: 5px;
    background: #ffef99;
    margin-top: 170px;
    margin-left: 225px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

p {
    font-family: bodyFont;
    color: darkblue;
    font-size: 16px;
}
li {
    font-family: bodyFont;
    color: darkblue;
    font-size: 16px;
}

h3 {
    font-family: bodyFont;
    color: darkblue;
    font-size: 24px;
    padding: 0em;
}