/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2015, 10:40:43 PM
    Author     : melissagracetallant
*/

body {
    background-color: lightblue;
    fornt-family: headingFont;
    font-size: 1em;
}
h1 {
    color: darkblue;
    margin-left: 42%;
    font-family: headingFont;
    font-size: 3em;
}
h2 {
    color: darkblue;
    margin-left: 200px;
    font-family: headingFont;
    font-size: 56px;
}

@font-face {
    font-family: headingFont;
    src: url(Matchbook.otf);
}

@font-face {
    font-family: bodyFont;
    src: url(Vera.ttf);
}

.loginBox {
    background-color: lightgoldenrodyellow;
    margin-left: 43%;
    margin-right: 42%;
    color: darkblue;
    padding: 20px;
    font-family: headingFont;
    font-size: 1.5em;
}

.menuItem {
    background-color: darkblue;
    font-family: headingFont;
    color: white;
    font-size: 2em;
    width: 170px;
    padding: 5px;
}

.menu {
    position: absolute;
    margin-left: 5px;
    margin-top: 5px; 
}

.body {
    position: absolute;
    background: #F2F5A9;
    margin-top: 0px;
    margin-left: 225px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 900px;
    
}

p {
    font-family: bodyFont;
    color: darkblue;
    font-size: 16px;
}